.odd {
    background-color: lightpink; /* light red/pink background */
    font-family: Verdana, "DejaVu Sans", sans-serif; /* list of fonts* */
}
#two {
    color: blue;
    font-size: 36px;
}
#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
.adjust-font-size{
    font-size: 24px;
}
